
@{
    ViewBag.Title = "Addtask";
}

<h2>Addtask</h2>
<form action="/Home/Createtask" method="post">

    UserName: <input type="text" name="UserName" /><br />
    Description: <input type="text" name="Description" /><br />
    DueDate: <input type="text" name="DueDate" /><br />
    Status: <input type="text" name="Status" /><br />

    <br />

    <input type="submit" value="Addtask" />
</form>


